<nav class="navbar navbar-default navbar-fixed-top" ng-controller="HeaderController as vm">
	<div class="container">
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<button ng-show="isAuthorized" type="button" class="btn btn-info" ng-click="vm.signOut()"
						style="margin-top: 5px;">Logout
				</button>
			</ul>
		</nav>
	</div>
</nav>
