<div id="sidebar" class="col-xs-3">
	<!--<div data-ng-include="'/modules/core/views/sidebar.client.view.html'"></div>-->
	<ul class="nav nav-pills nav-stacked" ng-controller="SidebarController as vm">
		<li ng-class="{ active: vm.$state.is('sidebar.dashboard') }">
			<a href="/#/"><i class="fa fa-home"></i> Dashboard</a>
		</li>
		<li ng-class="{ active: vm.$state.is('sidebar.deliveries') }">
			<a href="/#/deliveries"><i class="fa fa-suitcase"></i> Deliveries</a>
		</li>
		<li ng-class="{ active: vm.$state.is('sidebar.prices') }">
			<a href="/#/prices/create"><i class="fa fa-usd"></i> Prices</a>
		</li>
		<li ng-class="{ active: vm.$state.is('sidebar.contactUs') }">
			<a href="/#/contact-us"><i class="fa fa-paper-plane-o"></i> Contact Us</a>
		</li>
	</ul>
</div>
<div class="col-xs-9">
	<div data-ui-view></div>
</div>

