<div class="row">
	<div class="col-md-3" ></div>
	<div class="col-md-6" >

		<form name="signInForm" class="form-signin" ng-submit="vm.signIn()">
			<h2 class="form-signin-heading">Signing In</h2>
			<label for="inputEmail" class="sr-only">Email address</label>
			<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address"
				   required autofocus="" ng-model="vm.user.email">
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
				   required="required" ng-model="vm.user.password">
			<button class="btn btn-lg btn-primary" type="submit">Sign in</button>
		</form>

	</div>
</div>
