<div class="row">
	<div class="col-md-3" ></div>
	<div class="col-md-6" >

			<form name="signUpForm" class="form-signin" ng-submit="vm.signUp()">
				<h2 class="form-signin-heading">Signing up form</h2>
				<label for="inputEmail" class="sr-only">Email address</label>
				<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address"
					   required autofocus="" ng-model="vm.user.email">
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
					   required="required" ng-model="vm.user.password">
				<label for="confirmPassword" class="sr-only">Confirm Password</label>
				<input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password"
					   required>
					<label>Are u human? </label> <br>
						<input type="radio" name="bot-checker" value="Yes"> Yes, and im not lier <br>
						<input type="radio" name="bot-checker" value="No" checked> No, and i'll bring and to humanity<br>
				<button class="btn btn-lg btn-primary" type="submit">Sign up</button>
			</form>

		</div>
	</div>

