<div class="well well-sm">
	<form name="pricesForm" class="form-horizontal" ng-submit="vm.updatePrice()">
		<legend class="text-center header">Price #{{vm.prices.id}}</legend>
		<div class="form-group">
			<span class="col-md-1 col-md-offset-1 text-center"><i class="fa fa-briefcase bigicon"></i></span>

			<div class="col-md-8">
				<input id="name" name="name" value="vm.prices.name"
					   maxlength="45" ng-model="vm.prices.name"
					   type="text" placeholder="Enter the price name" class="form-control" required>
			</div>
		</div>
		<div class="form-group">
			<span class="col-md-1 col-md-offset-1 text-center"><i class="fa fa-money bigicon"></i></span>

			<div class="col-md-8">
				<input id="value" name="value" value="vm.prices.name" type="text"
					   ng-model="vm.prices.value"
					   placeholder="Enter price's currency" class="form-control" required>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 text-center">
				<button type="submit" class="btn btn-primary btn-lg">Submit</button>
			</div>
		</div>
	</form>
</div>

