<div class="well well-sm">
	<div class="text-success" ng-show="vm.isDeleted">Price successfully deleted</div>
			<table class="table table-condensed table-hover">
				<h1 class="text-center header">Prices</h1>
				<tbody>
				<tr ng-repeat="items in vm.prices">
					<td width="35%">{{items.name}}</td>
					<td>{{items.value}}</td>
					<td><a href="#/prices/{{items.id}}" class="btn btn-default">Edit</a></td>
					<td><button ng-click="vm.deletePrice(items.id)" class="btn btn-danger">Delete</button></td>
				</tr>
				</tbody>
			</table>
		</div>

