<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js ie8 old-ie"> <![endif]-->
<!--[if IE 9]>
<html class="no-js ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js"><!--<![endif]-->
<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
	<meta name="HandheldFriendly" content="true"/>

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<script>
		var htmlEl = document.getElementsByTagName('html')[0];
		htmlEl.className = htmlEl.className.replace(/\bno-js\b/, 'has-js');
	</script>

	<!-- Fav Icon -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}
	<link rel="stylesheet" href="{{cssFile}}">
	{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body class="ng-cloak" ng-strict-di>

<header data-ng-include="'/modules/core/views/header.client.view.html'"></header>

{% block content %}<div data-ui-view></div>{% endblock %}
<!--<div data-ui-view></div>-->
<!--<div class="container">
	<div class="row">
		<div id="sidebar" class="col-xs-3">
			<div data-ng-include="'/modules/core/views/sidebar.client.view.html'"></div>
		</div>
		<div class="col-xs-9">
			{% block content %}{% endblock %}
		</div>
	</div>
</div>-->

{% if process.env.NODE_ENV === 'development' %}
<!--Livereload script rendered -->
<script type="text/javascript" src="http://{{request.hostname}}:35729/livereload.js"></script>
{% endif %}


{% if process.env.NODE_ENV === 'development' %}
	<!--Lib JavaScript Files-->
	{% for jsLibFile in jsLibFiles %}
		<script type="text/javascript" src="{{jsLibFile}}"></script>
	{% endfor %}
{% endif %}

<!--Application JavaScript Files-->
{% for jsFile in jsFiles %}
<script type="text/{{compiler}}" src="{{jsFile}}"></script>
{% endfor %}

<script src="https://maps.googleapis.com/maps/api/js?signed_in=false&callback=initMap"></script>
</body>

</html>
